name: Linting

on:
  push:
    branches:
      - master
    tags-ignore: ["**"]
  pull_request:

permissions:
  # Required: allow read access to the content for analysis.
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  pull-requests: read
  # Optional: allow write access to checks to allow the action to annotate code in the PR.
  checks: write
  security-events: write

jobs: # Docs: <https://git.io/JvxXE>
  gitleaks:
    name: Gitleaks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with: {fetch-depth: 0}

      - uses: gacts/gitleaks@03e7105de6e27d619be467b70e6d2c9657780d9b # v1.2.2 # Action page: <https://github.com/zricethezav/gitleaks-action>
        with:
          config-path: .gitleaks.toml

  golangci-lint:
    name: Golang-CI (lint)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with: {fetch-depth: 0}
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version: '1.24'
          cache: false

      - name: Run linter
        uses: golangci/golangci-lint-action@1481404843c368bc19ca9406f87d6e0fc97bdcfd # v7.0.0
        with:
          version: v2.0 # without patch version
          only-new-issues: false # show only new issues if it's a pull request
          args: --timeout 4m # the default of 1m didn't suffice occasionally
